import React from 'react';
import PropTypes from 'prop-types';

const <%= props.name %> = () => <div>Template</div>;

<%= props.name %>.propTypes = {};

<%= props.name %>.defaultProps = {};

export default <%= props.name %>;
